<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <title>H1B VISA prediction</title>
</head>
<body>
  <div class="container2">
    <div class="content">
    <center>
        <!-- <br><h4 align="center"><b>{{arr1}}</b></h4>
        <br>
        <br><h4 align="center"><b>{{pp[0][0]}}</b></h4>
        <br> -->
        <!-- <br><h4 align="center"><b>{{data}}</b></h4>
        <br> -->
        <h1>  PREDICTION :  </h1>

        {%if (pp[0][0]) > 0.5%}
        <h1>Application is CERTIFIED  </h1>
        {%else%}
        <h1>Application is DECLINED</h1>
        {%endif%}
        <br><br>
        <a href='/'>Go Back</a>

    </center>
    </div>
  </div>

</body>
</html>